.bike-bg {
    background-color: #264653;
    padding-top: 125px;
    padding-bottom: 96px;

    ;
}

.txt-clr {
    color: #E76F51;
    font-weight: bold;
    margin-bottom: 50px;
}

.footer-custom {
    height: 300px;
}